@model WebApplication2.Models.Product

@{
    ViewData["Title"] = "Lägg till ny produkt";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}
<div class="pt-3">
    <h1>Lägg till ny produkt</h1>
<hr />
</div>
<form asp-action="CreateProduct" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="ProductName" class="control-label">Namn</label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="ProductDescription" class="control-label">Beskrivning</label>
            <input asp-for="ProductDescription" class="form-control" />
            <span asp-validation-for="ProductDescription" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Price" class="control-label">Pris</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Discount" class="control-label">Rabatt</label>
            <input asp-for="Discount" class="form-control" />
            <span asp-validation-for="Discount" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="ImageUrl" class="control-label">BildUrl</label>
            <input asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Model" class="control-label">Modell</label>
            <input asp-for="Model" class="form-control" />
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Size" class="control-label">Storlek</label>
            <input asp-for="Size" class="form-control" />
            <span asp-validation-for="Size" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Gender" class="control-label">Kön</label>
            <input asp-for="Gender" class="form-control" />
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Color" class="control-label">Färg</label>
            <input asp-for="Color" class="form-control" />
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Category" class="control-label">Kategori</label>
            <select asp-for="Category" class="custom-select">
                <option selected>Välj kategori...</option>
                <option value="Djur">Djur</option>
                <option value="Människa">Människa</option>
                <option value="Speciellatillfällen">Speciella tillfällen</option>
            </select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Stock" class="control-label">Antal</label>
            <input asp-for="Stock" class="form-control" />
            <span asp-validation-for="Stock" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Lägg till produkt" class="btn btn-primary" />
    </div>
</form>


<div>
    <a asp-action="Products">Gå tillbaka</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
