
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

<h1 style="text-align:center;margin-top:15px">Om oss</h1>
<div>
    <p style="float:left;">
        <img src="https://cdn.discordapp.com/attachments/770341448536686613/824939684563386378/Lars_von_Propellerkeps.jpg" height="513" width="383" alt="Mannen, myten, legenden, Lars von Propellerkeps." />
    </p>
    <div>
        <h3 style="position:relative;left:20px;display:inline">Grundades 1845</h3>
        <p style="display:inline;margin-left:20px">av Lars von Propellerkeps.</p>
        <p style="position:relative;left:20px;margin-top:5px">En storming natt i Propellistan kom Lars på idéen. Det vi nu idag känner som propellerkeps började med en enkel dröm. Drömmen om att flyga. </p>
        <p style="position:relative;left:20px;margin-top:5px">Som vi nu vet, med dagens vetenskap, så kan man inte flyga med en propellerkeps, men man ser sjukt cool ut i en. </p>
        <p style="position:relative;left:20px;margin-top:5px">Lars Von Propellerkeps öppnade sin första webshop 1921 och startade även då världens första flygbolag. Tyvärr så gick företaget i konkurs efter att folk märkte att nej, det går inte att flyga med en propellerkeps. </p>
        <h3 style="position:relative;left:20px;display:inline">Nu, år 2021</h3>
        <p style="display:inline;margin-left:20px">fortsätter vi med vår familjs tradition.</p>
        <h2 style="position:relative;left:20px;align-content:center;text-align:center;padding-top:20px">Vårt löfte: Du kan flyga med denna keps! </h2>
    </div>
    
</div>
<div style="clear:both;margin-top:55px">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

        <div>
            <div>
                <div>
                    <h1 class="" style="text-align:center">Our team</h1>
                    <p class="" style="text-align:center">Människorna som skapar magin.</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="~/img/Christoffer.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="">Christoffer Jörgensen</h5><span>Godsherre</span>
                        <ul class="social mb-0 list-inline mt-3">
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="~/img/Ksenia.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="">Ksenia Gladkikh</h5><span>Piga</span>
                        <ul class="social mb-0 list-inline mt-3">
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="~/img/Gustaf.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="">Gustaf Rydell</h5><span>Dräng</span>
                        <ul class="social mb-0 list-inline mt-3">
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="~/img/Thomas.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="">Gustaf Rydell</h5><span>Dräng</span>
                        <ul class="social mb-0 list-inline mt-3">
                        </ul>
                    </div>
                </div>
                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="~/img/Johan.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="">Johan Rova</h5><span>Dräng</span>
                        <ul class="social mb-0 list-inline mt-3">
                        </ul>
                    </div>
                </div>
                <!-- End-->

            </div>
        </div>

        </p>
    </div>