@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_NavbarLayout";
}

<div class="popular-items section-padding30">
    <div class="container">
        <!-- Section tittle -->
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <div class="section-tittle mb-70 text-center">
                    <h2>Alla produkter</h2>
                    <p>Här kan ni se vårt vackra utbud utav många olika propellerkepsar som passar till alla möjliga tillfällen!</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var product in ViewBag.Products)
            {
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-popular-items mb-50 text-center">
                        <div class="popular-img">
                            <a asp-controller="Home" asp-action="Product" asp-route-id="@product.Id">
                                <img src="@product.ImageUrl" alt="" />
                            </a>
                            <div class="img-cap">
                                <span>Visa detaljer</span>
                            </div>
                        </div>
                        <div class="popular-caption">
                            <h3><a href="#">@product.ProductName</a></h3>
                            <span>$ @product.Price</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>