@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PropStore</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/logo_icon.png">
    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header>
        <!-- Header Start -->
        <div class="header-area" style="background: white">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <a asp-action="Index"><img src="~/img/logo.png" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a asp-controller="Home" asp-action="Index">Hem</a></li>
                                    <li>
                                        <a asp-controller="Home" asp-action="Products">Produkter</a>
                                        <ul class="submenu">
                                            <li><a asp-controller="Home" asp-action="Products">Alla produkter</a></li>
                                            <li><a href="#">För hundar</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" style="color: #dbe9ee;" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Right -->
                        <div class="main-menu header-right d-none d-lg-block">
                            <ul>
                                <li>
                                    <a><span class="flaticon-user"></span></a>
                                    <ul class="submenu navbar-nav">
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            <li>
                                                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage</a>
                                            </li>
                                            <li>
                                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                    <button type="submit"class="btn btn-primary">Logout</button>
                                                </form>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="nav-item"><a asp-area="Identity" asp-page="/Account/Register">Register <i class="fa fa-address-card"></i></a></li>
                                            <li class="nav-item"><a asp-area="Identity" asp-page="/Account/Login">Login <i class="fa fa-sign-in-alt"></i></a></li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="ShoppingCart">
                                        <span class="flaticon-shopping-cart"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/animated.headline.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
