@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PropStore</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/logo_icon.png">
    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header>
        <!-- Header Start -->
        <div class="header-area" style="background: white">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a asp-controller="Home" asp-action="Index">Hem</a></li>
                                    <li>
                                        <a asp-controller="Home" asp-action="Products">Produkter</a>
                                        <ul class="submenu">
                                            <li><a asp-controller="Home" asp-action="Products">Alla produkter</a></li>
                                            <li>
                                            </li>
                                        </ul>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">Om oss</a>
                                    </li>
                                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" style="color: #dbe9ee;" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Right -->
                        <div class="main-menu header-right d-none d-lg-block">
                            <ul>
                                <li>
                                    <a>
                                        <form class="form-inline my-2 my-lg-0" asp-controller="Home" asp-action="Search" method="get">
                                                <input class="form-control mr-sm-2" type="text" name="Result" placeholder="Sök produkt..." />
                                                <input class="btn btn-primary" type="submit" value="Sök">
                                        </form>
                                    </a>
                              
                                </li>
                                <li>
                                    <a><span class="flaticon-user"></span></a>
                                    <ul class="submenu navbar-nav">
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            <li>
                                                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hantera konto</a>
                                            </li>
                                            <li>
                                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                    <button type="submit" class="btn btn-primary">Logga ut</button>
                                                </form>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="nav-item"><a asp-area="Identity" asp-page="/Account/Register">Registrera <i class="fa fa-address-card"></i></a></li>
                                            <li class="nav-item"><a asp-area="Identity" asp-page="/Account/Login">Logga in <i class="fa fa-sign-in-alt"></i></a></li>
                                        }
                                    </ul>
                                </li>

                                <li>
                                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="ShoppingCart">
                                        <span class="flaticon-shopping-cart"></span>
                                    </a>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <!------Navbar scripts-->
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
